#logo {
    position: absolute;
    left: 10px;
    top: 10px;
}

#heading {
    font-family: 'Nova Round', sans-serif;
    position: absolute;
    left: 200px;
    top: 24px;
}

#hdr {
    font-size: 48pt;
}

#subhdr {
    font-size: 16pt;
}

#body {
    position: relative;
    top: 200px;
    font-size: 13pt;
}

#leader {
    font-size: 16px;
}

#warningpar {
    padding-left: 80px;
    padding-right: 80px;
}

.step {
    font-size: 24px;
    padding-left: 40px;
}

.inline {
    display: inline;
}

