#heading {
    font-family: 'Nova Round', sans-serif;
    text-align: center;
    border-bottom: 1px solid black;
}

#hdr {
    font-size: 300%;
}

#subhdr {
    font-size: 200%;
}

#body {
    position: relative;
    left: 10%;
    width: 80%;
    font-size: large;
}

.inline {
    display: inline;
    float: left;
    padding: 10px;
}

table {
    font-size: large;
    border: none;
}

